<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello">Hello Page with a hmtl tag</a>
<br />
<%= link_to  "Hello Page with helper", {:action => 'hello'} %>
<br />
<%= link_to  "Hello with parameter", {:action => 'hello' , :page => 3, :id => 20, :name => 'zair'} %>
<br />

<br />

<br />

<br />

<%= link_to('roar', '#', :onclick => "jsRoar('JavaScript'); return true;") %>

<% flash.each do |key, value| %>
 <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
  <%= value %>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>   
 <% end %> 
<% end %>


code in the controller:

flash[:success] = "All good!"
format.html { redirect_to some_path}